.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;filter:alpha(opacity=40);position:absolute;z-index:2;top:20px;background:none;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:hover{opacity:1;filter:alpha(opacity=100)}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;filter:alpha(opacity=0);cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel-root{outline:none}.carousel{position:relative;width:100%}.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:none;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb:focus{border:3px solid #ccc;outline:none}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,0.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center;background:#000}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:0.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;text-align:center;width:100%}@media (min-width: 960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;filter:alpha(opacity=30);box-shadow:1px 1px 2px rgba(0,0,0,0.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1;filter:alpha(opacity=100)}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.9);color:#fff}.carousel:hover .slide .legend{opacity:1}

body {
  background: #000;
  color: #fff;
  font-family: 'Raleway';
  margin: 0;
  position: relative;
}
h1 {
  font-family: 'Oswald';
  font-size: 54px;
  margin: 30px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}
#app {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 768px;
}
#app .overlay {
  background: rgba(0,0,0,0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: opacity ease 0.5s;
  -moz-transition: opacity ease 0.5s;
  -o-transition: opacity ease 0.5s;
  -ms-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: 50;
}
#app .navigation {
  display: inline-block;
  margin-top: 100px;
  vertical-align: top;
  width: 120px;
}
#app .navigation > ul {
  list-style: none;
  padding-left: 20px;
  position: relative;
}
#app .navigation > ul > .slider {
  background: #ed7721;
  border-radius: 1px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 4px;
  -webkit-transition: all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 60ms;
  -moz-transition: all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 60ms;
  -o-transition: all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 60ms;
  -ms-transition: all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 60ms;
  transition: all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 60ms;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  transition-duration: 400ms;
  width: 6px;
}
#app .navigation > ul > .slider.about {
  -webkit-transform: translateY(140px) translateZ(0);
  -moz-transform: translateY(140px) translateZ(0);
  -o-transform: translateY(140px) translateZ(0);
  -ms-transform: translateY(140px) translateZ(0);
  transform: translateY(140px) translateZ(0);
}
#app .navigation > ul > .slider.contact {
  -webkit-transform: translateY(0) translateZ(0);
  -moz-transform: translateY(0) translateZ(0);
  -o-transform: translateY(0) translateZ(0);
  -ms-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0);
}
#app .navigation > ul > .slider.work {
  -webkit-transform: translateY(70px) translateZ(0);
  -moz-transform: translateY(70px) translateZ(0);
  -o-transform: translateY(70px) translateZ(0);
  -ms-transform: translateY(70px) translateZ(0);
  transform: translateY(70px) translateZ(0);
}
#app .navigation > ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 10px 6px;
  text-align: left;
  text-transform: capitalize;
}
#app .main {
  display: inline-block;
  height: 420px;
  margin: 60px 0 0 120px;
  position: relative;
  width: 420px;
}
#app .main > .spinner,
#app .main > .circle {
  height: 420px;
  margin: -210px -210px 0 0;
  pointer-events: none;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transition: all 300ms ease-in-out 200ms;
  -moz-transition: all 300ms ease-in-out 200ms;
  -o-transition: all 300ms ease-in-out 200ms;
  -ms-transition: all 300ms ease-in-out 200ms;
  transition: all 300ms ease-in-out 200ms;
  width: 420px;
  z-index: 20;
}
#app .main > .spinner.circle,
#app .main > .circle.circle {
  border: 6px solid #4b0073;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app .main > .spinner > .button,
#app .main > .circle > .button {
  position: absolute;
  -webkit-transition: all 300ms ease-in-out 200ms;
  -moz-transition: all 300ms ease-in-out 200ms;
  -o-transition: all 300ms ease-in-out 200ms;
  -ms-transition: all 300ms ease-in-out 200ms;
  transition: all 300ms ease-in-out 200ms;
}
#app .main > .spinner > .button.contact,
#app .main > .circle > .button.contact {
  left: 50%;
  top: 2%;
}
#app .main > .spinner > .button.work,
#app .main > .circle > .button.work {
  left: 89.5%;
  top: 72%;
}
#app .main > .spinner > .button.about,
#app .main > .circle > .button.about {
  left: 8.5%;
  top: 72%;
}
#app .main > .spinner > .button > .info,
#app .main > .circle > .button > .info {
  background: #333;
  border: 10px solid #ed7721;
  border-radius: 60px;
  cursor: pointer;
  height: 80px;
  left: 0;
  margin: -45px 0 0 -45px;
  pointer-events: auto;
  position: absolute;
  top: 0;
  width: 80px;
}
#app .main > .spinner > .button > .info:active,
#app .main > .circle > .button > .info:active {
  background: #4d4d4d;
}
#app .main > .spinner > .button > .info > div,
#app .main > .circle > .button > .info > div {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #eee;
  display: block;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  font-family: Oswald;
  margin: 26px auto;
  pointer-events: none;
  position: static;
  text-align: center;
  text-transform: capitalize;
}
#app .main > .spinner.about,
#app .main > .circle.about {
  -webkit-transform: rotateZ(-240deg) translateZ(0);
  -moz-transform: rotateZ(-240deg) translateZ(0);
  -o-transform: rotateZ(-240deg) translateZ(0);
  -ms-transform: rotateZ(-240deg) translateZ(0);
  transform: rotateZ(-240deg) translateZ(0);
}
#app .main > .spinner.about > div,
#app .main > .circle.about > div {
  -webkit-transform: rotateZ(240deg) translateZ(0);
  -moz-transform: rotateZ(240deg) translateZ(0);
  -o-transform: rotateZ(240deg) translateZ(0);
  -ms-transform: rotateZ(240deg) translateZ(0);
  transform: rotateZ(240deg) translateZ(0);
}
#app .main > .spinner.contact,
#app .main > .circle.contact {
  -webkit-transform: rotateZ(0) translateZ(0);
  -moz-transform: rotateZ(0) translateZ(0);
  -o-transform: rotateZ(0) translateZ(0);
  -ms-transform: rotateZ(0) translateZ(0);
  transform: rotateZ(0) translateZ(0);
}
#app .main > .spinner.work,
#app .main > .circle.work {
  -webkit-transform: rotateZ(-120deg) translateZ(0);
  -moz-transform: rotateZ(-120deg) translateZ(0);
  -o-transform: rotateZ(-120deg) translateZ(0);
  -ms-transform: rotateZ(-120deg) translateZ(0);
  transform: rotateZ(-120deg) translateZ(0);
}
#app .main > .spinner.work > div,
#app .main > .circle.work > div {
  -webkit-transform: rotateZ(120deg) translateZ(0);
  -moz-transform: rotateZ(120deg) translateZ(0);
  -o-transform: rotateZ(120deg) translateZ(0);
  -ms-transform: rotateZ(120deg) translateZ(0);
  transform: rotateZ(120deg) translateZ(0);
}
#app .main > .wrapper {
  height: 420px;
  margin: -210px -210px 0 0;
  position: absolute;
  right: 50%;
  top: 50%;
  width: 420px;
}
#app .main .contents {
  border: 6px solid transparent;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 420px;
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: 10;
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
}
#app .main .contents > .content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  -webkit-transition: all 400ms ease-in-out 300ms;
  -moz-transition: all 400ms ease-in-out 300ms;
  -o-transition: all 400ms ease-in-out 300ms;
  -ms-transition: all 400ms ease-in-out 300ms;
  transition: all 400ms ease-in-out 300ms;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
}
#app .main .contents > .content a,
#app .main .contents > .content .carousel {
  pointer-events: auto;
}
#app .main .contents > .content.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
  transition-delay: 400ms;
  visibility: visible;
}
#app .main .contents > .content.about {
  top: 0;
  height: 100%;
  pointer-events: auto;
}
#app .main .contents > .content.about > img {
  width: 100%;
}
#app .main .contents > .content.about > div {
  background: rgba(0,0,0,0.8);
  bottom: 40px;
  margin-top: 20px;
  padding: 16px 10px;
  position: absolute;
  width: 100%;
}
#app .main .contents > .content.contact {
  background: #0d0d0d;
  height: 100%;
  padding-top: 126px;
  text-align: center;
  z-index: 14;
}
#app .main .contents > .content.contact > div {
  display: inline-block;
  vertical-align: top;
}
#app .main .contents > .content.contact > div:not(:last-child) {
  margin-right: 4px;
}
#app .main .contents > .content.contact > div > a {
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 76px;
  padding-top: 12px;
  text-decoration: none;
  text-transform: uppercase;
  width: 76px;
  z-index: 15;
}
#app .main .contents > .content.contact > div > a.facebook {
  background: #435697;
}
#app .main .contents > .content.contact > div > a.facebook:active {
  background: #334274;
}
#app .main .contents > .content.contact > div > a.file-pdf {
  background: #bc001a;
}
#app .main .contents > .content.contact > div > a.file-pdf:active {
  background: #ef0021;
}
#app .main .contents > .content.contact > div > a.file-pdf > i {
  font-size: 38px;
}
#app .main .contents > .content.contact > div > a.github {
  background: #333;
}
#app .main .contents > .content.contact > div > a.github:active {
  background: #4d4d4d;
}
#app .main .contents > .content.contact > div > a.linkedin {
  background: #0e76a8;
}
#app .main .contents > .content.contact > div > a.linkedin:active {
  background: #1297d7;
}
#app .main .contents > .content.contact > div > a.twitter-bird {
  background: #00acee;
}
#app .main .contents > .content.contact > div > a.twitter-bird:active {
  background: #22c2ff;
}
#app .main .contents > .content.contact > div > a.twitter-bird > i:before,
#app .main .contents > .content.contact > div > a.github > i:before {
  margin-left: 0;
}
#app .main .contents > .content.contact > div > a > i {
  color: #fff;
  font-size: 44px;
  -webkit-font-smoothing: antialiased;
}
#app .main .contents > .content.work {
  margin: 0;
  text-align: center;
  position: relative;
}
#app .main .contents > .content.work .carousel .legend h3,
#app .main .contents > .content.work .carousel .legend div,
#app .main .contents > .content.work .carousel .legend a {
  margin: 3px 0;
}
#app .main .contents > .content.work .carousel .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 44px;
  height: 100%;
  max-height: 100%;
  padding-top: 40%;
  pointer-events: auto;
  position: absolute;
  top: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 1;
}
#app .main .contents > .content.work .carousel .button:active {
  background: rgba(0,0,0,0.6);
}
#app .main .contents > .content.work .carousel .button > i {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#app .main .contents > .content.work .carousel .button.right {
  right: 0;
}
#app .main .contents > .content.work .slide {
  width: 100%;
}
#app .main .contents > .content.work .project {
  margin: 0 auto;
  position: relative;
}
#app .main .contents > .content.work .project > img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 420px;
  margin-bottom: 8px;
  width: 420px;
}
#app .main .contents > .content.work .project > .info {
  background: rgba(0,0,0,0.7);
  bottom: 40px;
  display: block;
  padding: 10px 0 10px 0;
  position: absolute;
  width: 100%;
}
#app .main .contents > .content.work .project > .info > h3,
#app .main .contents > .content.work .project > .info div,
#app .main .contents > .content.work .project > .info a {
  margin: 3px 0;
}
#app .main .contents > .content.work .project > .info > a {
  background: #4b0073;
  border-radius: 8px;
  color: #fff;
  display: block;
  display: inline-block;
  margin-right: 5px;
  padding: 6px 12px;
  text-decoration: none;
}
#app .main .contents > .content.work .project > .info > a > i {
  left: 5px;
  position: relative;
}
#app .main .contents > .content.work .project > .info > a:active {
  background: #2a0040;
}
#app .main .contents > .content.work .project > .info > a.github {
  background: #4183c4;
}
#app .main .contents > .content.work .project > .info > a.github:active {
  background: #3269a0;
}
.mobile,
.mobile-subheader {
  display: none;
}
@media (min-width: 1025px) {
  #app .main > .spinner > .button > .info:hover {
    background: #4d4d4d;
  }
  #app .main .contents > .content.contact > div > a.facebook:hover {
    background: #4b60a9;
  }
  #app .main .contents > .content.contact > div > a.file-pdf:hover {
    background: #d6001e;
  }
  #app .main .contents > .content.contact > div > a.github:hover {
    background: #404040;
  }
  #app .main .contents > .content.contact > div > a.instagram:hover {
    background: #467fad;
  }
  #app .main .contents > .content.contact > div > a.linkedin:hover {
    background: #1087c0;
  }
  #app .main .contents > .content.contact > div > a.twitter-bird:hover {
    background: #08bbff;
  }
  #app .main .contents > .content.work .cycle-controls > .button:hover {
    background: rgba(0,0,0,0.5);
  }
}
@media (max-width: 768px) {
  #app {
    max-width: 100%;
  }
  #app .navigation {
    display: block;
    margin: 0 auto;
  }
  #app .main {
    display: block;
    margin: 80px auto;
  }
}
@media (max-width: 640px) {
  body h1 {
    display: none;
  }
  #app {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 66px;
  }
  #app .overlay.open {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
  }
  #app .navigation {
    background: #000;
    display: block;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    top: 66px;
    -webkit-transition: all ease-out 400ms;
    -moz-transition: all ease-out 400ms;
    -o-transition: all ease-out 400ms;
    -ms-transition: all ease-out 400ms;
    transition: all ease-out 400ms;
    width: 100%;
    z-index: 100;
  }
  #app .navigation > ul {
    border-top: 1px dotted #8f9095;
    margin: 0px;
    padding-left: 0px;
  }
  #app .navigation > ul > .slider {
    display: none;
  }
  #app .navigation > ul > li {
    border-bottom: 1px dotted #8f9095;
    margin: 0;
    padding: 20px 20px 20px 60px;
    text-align: left;
  }
  #app .navigation.open {
    max-height: 300px;
  }
  #app .main {
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
  #app .main > .spinner,
  #app .main > .circle {
    display: none;
  }
  #app .main > .wrapper {
    height: auto;
    position: static;
    margin: 0;
    width: 100%;
  }
  #app .main .contents {
    border: 0;
    border-radius: 0;
    height: auto;
    margin: 0;
    position: static;
  }
  #app .main .contents > .content.work {
    left: 0;
    margin: 0px auto;
    overflow-y: hidden;
  }
  #app .main .contents > .content.work .cycle-controls > .button:active {
    background: transparent;
  }
  #app .main .contents > .content.work .project > img {
    height: auto;
    width: 100%;
  }
  #app .main .contents > .content.work .project > .info {
    bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  #app .main .contents > .content.about > img {
    max-width: 100%;
  }
  #app .main .contents > .content.about > div {
    margin-top: 0;
    position: static;
  }
  #app .main .contents > .content.contact {
    background: none;
    margin: 0px auto;
    padding: 0;
    width: 100%;
  }
  #app .main .contents > .content.contact > div {
    display: block;
    margin-bottom: 15px;
  }
  #app .main .contents > .content.contact > div > a {
    margin: 0 auto;
  }
  .mobile {
    background: #000;
    display: block;
    height: 66px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .mobile > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 42px;
    padding: 8px 12px;
    text-transform: capitalize;
  }
  .mobile > div.button {
    border-right: dotted 1px #ed7721;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
  }
  .mobile > div.button > i {
    font-size: 32px;
  }
  .mobile-subheader {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 24px;
    padding: 8px 0;
    text-align: center;
    text-transform: capitalize;
  }
}

@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.eot?14817314');
  src: url('/fonts/fontello/fontello.eot?14817314#iefix') format('embedded-opentype'),
       url('/fonts/fontello/fontello.woff2?14817314') format('woff2'),
       url('/fonts/fontello/fontello.woff?14817314') format('woff'),
       url('/fonts/fontello/fontello.ttf?14817314') format('truetype'),
       url('/fonts/fontello/fontello.svg?14817314#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?14817314#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left-open:before { content: '\E800'; } /* '' */
.icon-right-open:before { content: '\E801'; } /* '' */
.icon-github-circled:before { content: '\E802'; } /* '' */
.icon-export:before { content: '\E803'; } /* '' */
.icon-file-pdf:before { content: '\E804'; } /* '' */
.icon-menu:before { content: '\E805'; } /* '' */
.icon-twitter-bird:before { content: '\E806'; } /* '' */
.icon-facebook:before { content: '\E807'; } /* '' */
.icon-instagram:before { content: '\E808'; } /* '' */
.icon-linkedin:before { content: '\E809'; } /* '' */
.icon-github:before { content: '\E80A'; } /* '' */

/*# sourceMappingURL=styles.chunk.css.map*/